<div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
        <th *ngFor = "let head of headElements"> {{head}} </th>
    </tr>

    </thead>
    <tbody>
        <!-- items being paged -->
    <tr *ngFor = "let element of pagedItems">
      <td>{{element.name}}</td>
      <td>{{element.company}}</td>
      <td>{{element.email}}</td>
      <td>{{element.isActive == true?'Active':'Inactive'}}</td>
      <td><button class="btn btn-light" (click)='onSelect(element)'>View </button></td>
    </tr>
    </tbody>
  </table>
  </div>
  <div>

    <div class="container">
        <div class="text-center">
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>